apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "{{ item.name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {% if item.role == 'cluster_view' %}view{{"\n"}}{% elif item.role == 'cluster_admin' %}cluster-admin{{"\n"}}{% endif %}
subjects:
- kind: ServiceAccount
  name: "{{ item.name }}"
  namespace: users
