apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_result.stdout }}
    server: https://lb.xaniis-thr-1.local:6443
  name: cluster.local
contexts:
- context:
    cluster: cluster.local
    user: {{ username }}
  name: {{ username }}@cluster.local
current-context: {{ username }}@cluster.local
kind: Config
users:
- name: {{ username }}
  user:
    token: {{ token_result.stdout | b64decode }}
